.wrapper {
  font-family: Arial, sans-serif;
  width: 704px;
  border: 1px solid #000;
  font-size: 14px;
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.nav-top {
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
}

.play-btn {
  height:100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #33cc33;
  border-right: 1px solid #000;
}

.cur-info-vol {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  background-color: #e2ffcb;
}

.nav-bot {
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.menu-btn {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu-icon {
  width: 20px;
  height: 20px;
}